@import './common.scss';
.home-bottom{margin-top: 70px;}
.clazzlist{
    width:100%;
    height:100%;
}
.top_btn{
//  overflow: hidden;
    height: 55px;
    font-size:14px;
    position:fixed;
    background:#fff;
    z-index:1000;
    width:100%;
    min-width: 900px;
    padding-top: 20px;
    margin-bottom: 20px;
    .left_btn{
       .active_table{
           height: 31px;
           width: 91px;
           background: url(../../img/activetable.png) no-repeat 5px 5px;
           color: #579BFE;
           font-size:14px ;
           line-height: 28px;
           padding-left: 25px;
           border: 1px dashed #71aafe;
       }
       .class_list{
           height: 31px;
           width: 91px;
           background: url(../../img/list.png) no-repeat 5px 5px;
           color: #579BFE;
           font-size:14px ;
           line-height: 28px;
           padding-left: 25px;
           border: 1px dashed #71aafe;
           margin-left: 16px;
           margin-top: 0;
       }
    }
    .right_btn{
        ul{
            margin-right: 100px;
        }
        li{
            margin-left: 20px;
        }
        .btn_fir{
           height: 28px;
           width: 86px;
           background: url(../../img/fixedClass.png) no-repeat 0 5px;
           color: #363C54;
           font-size: 14px ;
           line-height: 30px;
           padding-left: 30px;
        }
        .btn_sec{
           height: 28px;
           width: 86px;
           background: url(../../img/openClass.png) no-repeat 0 5px;
           color: #363C54;
           font-size: 14px ;
           line-height: 30px;
           padding-left: 30px;
        }
        .btn_tir{
           height: 28px;
           width: 86px;
           background: url(../../img/snapClass.png) no-repeat 0 5px;
           color: #363C54;
           font-size: 14px;
           line-height: 30px;
           padding-left: 30px;
        }
        .btn_for{
           height: 28px;
           width: 100px;
           background: url(../../img/openingClass.png) no-repeat 0 5px;
           color: #363C54;
           font-size: 14px ;
           line-height: 30px;
           padding-left: 30px;
        }
            
    }
}
.class_list{
    height: 100%;
    width: 100%;
    margin-top: 75px;
    li{
        height: 100px;
        width: 98%;
        border: 1px solid #e6e6e6;
        border-left: 6px solid #fba9be;
        padding-top: 12px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .p_fir{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    p{
        font-size: 12px;
        
    }
    .list_right{
        height: 24px;
        width: 190px;
        margin-right: 5px;
        margin-top: 50px;
        span{
            height: 24px;
            width: 80px;
            margin-right: 15px;
            background-color: #579BFC;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 24px;
            display: inline-block;
            text-align: center;
        }
    }
    
    
}
