 *{
    margin: 0;
    padding:0;
 }
 html {
     height: 100%;
     width: 100%;
 }
 body {
     background: #ffffff;
     height: 100%;
     overflow:hidden;
 }
 .content{
     height: 660px;
     width: 100%;
     height: 100%;
     background: url(../../assets/cloud/background.jpg) no-repeat center center;
     background-size:100%;
     .top-nav{
         width: 100%;
         height: 60px;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 999;
         background-color: rgba(255, 255, 255, 0.2);
         .logo{
              display: inline-block;
             vertical-align: top;
             font-size: 24px;
             color: white;
             padding-left: 20px;
             height: 60px;
             line-height: 60px;
         }
         .title{
           
         }
     }
     .login-box{
         height: 210px;
         width: 300px;
         border-top:1px solid #ffffff ;
         position: absolute;
         left: 59.7%;
         top: 22.5%;
         background-color: rgba(255, 255, 255, .8);
         border-radius: 4px;
         text-align: center;
         p{
            font-size: 21px;
            height: 60px;
            line-height: 60px;
            color: #579bfe;
            text-align: center;
         }
         .input-userName{
            border:1px solid #999999 ; 
            padding-left: 13px;
            height: 26px;
            width: 187px;
            border-radius: 4px;
            margin-left:4px ;
         }
         .input-pass{
            border:1px solid #999999 ; 
            padding-left: 13px;
            height: 26px;
            width: 187px;
            border-radius: 4px;
            margin-top: 20px;
         }
         .sign-in-button{
            border: none;
            background-color:#579bfe;
            height: 26px;
            width: 187px;
            border-radius: 4px;
            margin-top: 20px;
            cursor: pointer;
            color: #ffffff;
         }
          .sign-in-check{
              width:70px;
              height: 15px;
              text-align: center;
              line-height: 15px;
              margin-top: 20px;
              font-size: 10px;
              color: #9e9ea0;
              margin-left: 55px;
              .remember-password{
                  width: 15px;
                  border: 1px solid #9e9ea0;
                  border-radius:0% 0%;
                  vertical-align:middle;
                  margin-top:0; 
                }
          }
     }
     dl{
        margin-top: 595px;
        margin-right: 20px;
        dd{
            font-size: 16px;
            height:16px;
            padding-top:10px ;
            text-align: center;
        }
     }
 } 
 .info{
     width: 100%;
     height:206px;
     text-align:center;
     position: relative;
     ul{
         display: inline-block;
         height: 45px;
         line-height: 200px;
         li{
            height: 45px;
            width: 175px;
            margin-left:90px;
            font-size: 20px;
            color: #777777;
         }
     }
     .message {
         position: absolute;
         right: 0;
         top: 88px;
         background-color: #fff;
         border: 1px solid #dbdbdb;
         .message-pic {
             padding: 16px;
             vertical-align: middle;
         }
         .message-words {
             vertical-align: middle;
             display: inline-block;
             font-size: 12px;
             margin-right: 20px;
             color: #727273;
         }
     }
     .service {
         position: absolute;
         right: 0;
         top: 148px;
         background-color: #fff;
         border: 1px solid #dbdbdb;
         .service-pic {
             padding: 14px;
             vertical-align: middle;
         }
         .service-words {
             vertical-align: middle;
             display: inline-block;
             font-size: 12px;
             margin-right: 20px;
             color: #727273;
         }
     }
 }
.connect{
     width: 100%;
     height: 44px;
     background: #f2f2f2;
     text-align: center;
     line-height: 44px;
     ul{
         display: inline-block;
         li{
             margin-right: 14px;
         }
     }
}
.bottom{
     width: 100%;
     height: 40px;
     background: #2e2e2e;
     line-height: 40px;
     color:#e8e8e8 ;
     text-align: center;
}
